{% extends 'main/based.html' %}


{% block title %}
Ошибка
{% endblock %}



{% block content %}
  <main xmlns="http://www.w3.org/1999/html">
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Ошибка 404...</h1>
        </div>
      </div>
    </section>
  </main>
{% endblock %}


{% block ButtonBack %}
        <a  href="/">
          <p class="mb-1 btn btn-sm btn-outline-secondary">
            Вернуться в Назад
          </p>
        </a>
{% endblock %}
