{% extends 'main/based.html' %}


{% block title %}
Страница обновления
{% endblock %}



{% block content %}
  <main xmlns="http://www.w3.org/1999/html">
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-7 col-md-8 mx-auto">
          <h1 class="fw-light py-4"> Редактируй </h1>
<!--          <p class="lead text-muted">Tags: {{ tags|join:", " }}-->
<!--{#            {% for tag in img.tags.all %}#}-->
<!--{#              {{ tag.name }}{% if not forloop.last %},{% endif %}#}-->
<!--{#            {% endfor %}#}-->
<!--          </p>-->
<!--          <p class="lead text-muted">Name: {{img.title}}</p>-->
          <form method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
              {% for f in form %}
                {% if f == form.privacy_img %}
                  <div class="form-switch">
                    {{ f }}
                    <label class="form-check-label" for="{{ f.id_for_label }}">{{ f.label }} </label>
                  </div>
                {% else %}
                  <div class="form-floating">
                    {{ f }}
                    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }} </label>
                  </div>
                {% endif %}
              {% endfor %}
            <button  class="btn btn-primary my-2" type="submit"> Изменить  </button>
          </form>
        </div>
      </div>
    </section>
      <div class="card shadow-sm">
        <a href="{{ img.image.url}}">
          <rect width="100%" height="100%" fill="#55595c" ></rect>
          <img  width="100%" height="100%" fill="#55595c" src="{{ img.image.url}}" alt="connect" href="{% url 'picture-page' img.id  %}" ></a>
        <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{img.title}}</text>
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted"> <a class="link-dark" href="{% url 'by-authors' user_id=img.author.id %}">{{img.author}}</a>
            <div class="">{{img.uploaded_date.date}} в {{img.uploaded_date.time}}</div>
            </small>
            </div>
          </div>
        </div>
      </div>
  </main>
{% endblock %}


{% block ButtonBack %}
        <a  href="/">
          <p class="mb-1 btn btn-sm btn-outline-secondary">
            Вернуться в галерею
          </p>
        </a>
{% endblock %}
