{% extends 'main/based.html' %}


{% block title %}
Регистрация
{% endblock %}

{% block styles %}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
{% endblock %}

{% block content %}
  <main class="text-center form-signin">
    <div class="row py-lg-5">
      <h1 class="h3 mb-3 fw-normal">Регистрация</h1>
      <div class="col-lg-5 col-md-8 mx-auto">
        <form method="post">
          {% csrf_token %}
          {% for f in form %}
            <div class="form-floating">
              {{ f }}
              <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }} </label>
              <div class="form-error">{{ f.errors }}</div>
            </div>
          {% endfor %}

          <button  class="btn btn-primary my-2" type="submit"> Регистрация </button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}

{% block ButtonBack %}
        <a  href="/">
          <p class="mb-1 btn btn-sm btn-outline-secondary">
            Вернуться в галерею
          </p>
        </a>
{% endblock %}
