{% extends 'main/based.html' %}


{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/all_css.css' %}">
{% endblock %}


{% block title %}
Страница поиска
{% endblock %}


{% block headers %}
<!-- main-menu-search bs-flex-grow-1 bs-d-none bs-d-sm-flex -->
  <div class="mx-4 ">
    <form class="d-flex" role="search" method="get"  action="{% url 'tag-search-2' %}">
      <div class="form-floating">
        {{ search_form.as_p }}
        <label class="form-label" for="{{ search_form.id_for_label }}"> {{ search_form.label }} </label>
      </div>
      <!--      <button class="btn btn-outline-secondary p-2" type="submit">Поиск</button>-->
    </form>
  </div>
{% endblock %}


{% block content %}
  <main xmlns="http://www.w3.org/1999/html">
    {% if searched %}
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Вы ищите {{searched}}...</h1>
          </div>
        </div>
      </section>
        <div class="album py-5 bg-light">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              {% for img_obj in tag %}
                 {% if request.user.is_superuser or img_obj.author_id == request.user.id and img_obj.privacy_img or img_obj.privacy_img == False %}
                <div class="col">
                  {% if not img_obj.privacy_img %}
                <div class="scale card shadow-sm">
                    <a class="image-container" href="{% url 'picture-page' img_obj.id  %}">
                {% else %}
                <div class="scale card shadow-sm text-light bg-dark ">
                    <a class="image-container bg-dark" href="{% url 'picture-page' img_obj.id  %}">
                {% endif %}
                      <rect width="100%" height="100%" fill="#55595c" ></rect>
                      <img class="image" width="100%" height="100%" fill="#55595c" src="{{ img_obj.image.url}}" alt="connect" href="{% url 'picture-page' img_obj.id  %}" >
                    </a>
                    {% if img_obj.privacy_img %}
                      <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{img_obj.title}} (Скрыто)</text>
                    {% else %}
                      <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{img_obj.title}}</text>
                    {% endif %}
                    <div class="card-body">
                     <div class="d-flex justify-content-between align-items-center">
                     {% if not img_obj.privacy_img %}
                      <small class="text-muted"> <a class="link-dark" href="{% url 'by-authors' user_id=img_obj.author.id %}">{{img_obj.author}}</a>
                      {% else %}
                      <small class="text-muted"> <a class="text-light" href="{% url 'by-authors' user_id=img_obj.author.id %}">{{img_obj.author}}</a>
                      {% endif %}
                       <div class="">{{img_obj.uploaded_date.date}} в {{img_obj.uploaded_date.time}}</div>
                      {% if request.user.is_authenticated %}
                          <button type="submit" class="btn btn-secondary" id="like_{{img_obj.id}}" name="image_like" value="Like">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">-->
                              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                            </svg> <span class="likes-count">{{ img_obj.likes.count }}</span>
                          </button>
                          <script>
                            $('#like_{{img_obj.id}}').click(function(){
                                     $.ajax({
                                              type: "POST",
                                              url: "{% url 'like-image' img_id=img_obj.id%}",
                                              data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                                              dataType: "json",
                                              success: function(response) {

                                                    let likeButton = $('#like_{{img_obj.id}}');
                                                    let likesCount = likeButton.find('.likes-count');
                                                    likesCount.text(response['likes_count']);

                                               },
                                               error: function(rs, e) {
                                                      alert(rs.responseText);
                                               }
                                         });
                                   })
                          </script>
                        {% else %}
                          <button type="submit" class="btn btn-secondary  disabled" id="like_{{img_obj.id}}" name="image_like" value="Like">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">-->
                              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                            </svg> <span class="likes-count">{{ img_obj.likes.count }}</span>
                          </button>
                        {% endif %}
                    </small>
                      {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser or img_obj.author_id == request.user.id %}
                          <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary" href="{% url 'delete' img_obj.id %}">Удалить</a>
                            <a class="btn btn-sm btn-outline-secondary" href="{% url 'image-edit' img_obj.id %}">Редактировать</a>
                          </div>
                        {% else %}
                          <div class="btn-group"></div>
                        {% endif %}
                      {% endif %}
                  </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
    {% else %}
      <center>
        <h1 class="fw-light">Ошибка поиска. Того что вы ищите нет.</h1>
      </center>
    {% endif %}
  </main>
{% endblock %}


{% block ButtonBack %}
        <a  href="/">
          <p class="mb-1 btn btn-sm btn-outline-secondary">
            Вернуться в галерею
          </p>
        </a>
{% endblock %}
